.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 92px 50px 92px 49px;
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  color: #000;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item .header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
}

.header__logo {
  display: flex;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
}

.address {
  justify-self: end;
  width: 240px;
  line-height: 135%;
  display: flex;
  flex-direction: column;
}

.main {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.cover {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 757px;
  position: relative;
  z-index: 0;
  color: #FFF;
}

.cover__title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.aligned-text {
  display: flex;
  justify-content: flex-start;
  padding-top: 165px;
  padding-left: 50px;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
}

.aligned-text_right {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 147px;
}

.letter-spacing-extended {
letter-spacing: 0.7em;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 78px;
  padding-right: 50px;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  line-height: 1.27;

  font-size: 22px;
  font-weight: 400;
  word-spacing: 0.5em;
}

.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 52px;
  font-family: 'Raleway', 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  font-size: 22px;
  font-weight: 400;
}

.cover__image {
  position: absolute;
  height: 757px;
}

.overlay {
  position: absolute;
  opacity: 0.6;
  background: #000;
  z-index: 1;
  width: 100%;
  height: 757px;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 50px;
  background: #FFF;
  width: 100%;
  height: 100%
  font-family: 'Raleway', 'Open Sans', sans-serif;
}

.lots__heading {

}

.lots__card-list {

}

.card-link {

}

.card_card_type_film {

}

.card__title {

}

.card__text {
  
}